*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #131313;
    color: white;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-track{
    background-color: #141414;
}
body::-webkit-scrollbar-thumb{
    background-color: #8f8f8f;
    border-radius: 20px;
    border: 3px solid #141414;
}
/* VIDEOS */
.main-content{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-right: 200px;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #131313;
}
.content-video{
    width: 95vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(18, 18, 18);
}
.sombra{
    position: absolute;
    width: 95vw;
    height: 555px;
    background-color: rgba(0, 0, 0, 0.507);
    transition: all 1s;
}
.video{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video img{
    width: 300px;
    margin-left: 10px;
}
.video div{
    display: flex;
    flex-direction: column;
}
.video div a{
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #666565;
}

.linkHover{
    color: rgb(255, 255, 255);
    margin:5px 0px 10px 0px;
}
.lista-main{
    top: 57px;
    width: 200vw;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0px;
    transform: translateX(430px);
    background-color: #212121fb;
    margin-bottom: 500px;
    border-top: 0.5px solid rgb(77, 75, 75);
    border-bottom: 0.5px solid rgb(77, 75, 75);
    transition: width 1s ease;
}
.lista-main ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    transform: translateX(90px);
    transition:  transform 1s ease;
}
.lista-main ul li{
    background-color: #383838;
    padding: 10px;
    height: 30px;
    font-size: 14px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 0.5px solid rgb(77, 75, 75);
}
.lista-main ul li:nth-child(1){
    margin-left: 50px;
}
.bottonE,.bottonD{
    position: fixed;
    z-index: 50;
    top: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    width: 80px;
    background-color: #212121fb;
    cursor: pointer;
}
.bottonD::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -10px;
    right: 0px;
    background-color: #212121fb;
    filter: blur(10px);
    z-index: -1;
}
.bottonE::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -10px;
    z-index: -50;
    filter: blur(10px);
    background-color: #212121fb;
}
.bottonE img, .bottonD img{
    width: 25px;
    height: 25px;
    position: relative;
}
.bottonE{
    left: 70px;
}